html,
body {
  width: 100%;
  height: 100%;
}
// .data {
//   width: 100%;
//   height: 25%;
// }
#map {
  width: 100%;
  height: 100%;
}
/* 借用一下，測試 */
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}
.logo{
  @include hidden_text(30px,30px,url("../img/logo.png"))
}
.mask{
  &__quantity{
    min-width:150px ;
    max-height: 95px;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      bottom: 0;
      right: 0;
      background-image: url("../img/ic_stock_full@2x.png");
      z-index: 9;
    }
  }
  &__warning{
    &::after{
      background-image: url("../img/ic_stock_few@2x.png");
    }
  }
  &__zero{
    &::after{
      background-image: url("../img/ic_stock_none@2x.png");
    }
  }
}
// .mask_adult{

// }
// .mask_child{

// }